@import "../../assests/scss/variables";

.button {
  min-width: 100px;
  height: 40px;
  margin: 5px auto;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.3s;
  font-size: 16px;

  &--full {
    width: 100%;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary-light;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--success {
    color: $color-white;
    background-color: $color-success;

    &:hover {
      background-color: $color-success-dark;
    }
  }

  &--danger {
    color: $color-white;
    background-color: $color-danger;

    &:hover {
      background-color: $color-danger-dark;
    }
  }

  &--default {
    color: $color-white;
    background-color: $color-secondary-light;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  &--rounded {
    border-radius: 50px;
  }
}
