@import "../../assests/scss/variables";
@import "../../assests/scss/animations";

.profile {
  max-width: 60%;
  animation: slideToLeft 0.5s;
  box-shadow: 0 10px 40px rgba($color-light-grey, 1);
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;

  &__header {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(
      to top,
      $color-secondary-dark,
      $color-light-grey
    );
  }

  &__main {
    padding: 10px 50px;
    max-height: 300px;
    background-color: $color-white;

    &--inner {
      position: relative;
      top: -140px;
      // back
    }
    :not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 150px;
    }
  }

  &__stats {
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    :not(:last-child) {
      margin-right: 25px;
    }

    &--friends {
      font-weight: bold;
      color: $color-danger;
    }

    &--followers {
      font-weight: bold;
      color: $color-primary;
    }
  }

  &__summary {
    font-weight: bold;
    color: $color-light-grey;
    padding: 10px 20px;
  }

  &__connect {
    :not(:last-child) {
      margin-right: 10px;
    }
  }
}
