@import "../../assests/scss/variables";

.header {
  height: $header-height;
  background-color: #ebeff2;
  padding: 10px;
  display: flex;

  &__current-page {
    width: 50%;
    height: 100%;
    text-align: center;
  }

  &__user {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__search {
    align-self: center;
    margin: 0 10px;
  }

  &__notifications {
    align-self: center;
    width: 30px;
    margin: 0 20px;
  }

  &__avatar {
    align-self: center;
    margin: 0 20px;
  }
}
