// COLORS
$color-primary: #122d50;
$color-primary-light: #7289da;
$color-primary-dark: #4666b4;

$color-secondary-light: #36393f;
$color-secondary-dark: #202225;

$color-light-grey: #72767d;

$color-danger: #f04747;
$color-success: #007f00;

$color-black: #000;
$color-white: #fff;

// sizes

$side-menu-width: 250px;
$header-height: 60px;
